@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

h1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 51.48px;
}
button {
  background-color: black;
  width: 142px;
  height: 49px;
  padding: 15px, 25px, 15px, 25px;
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
}
input {
  width: 170px;
  height: 49px;
  border-radius: 9px;
  background-color: #41f5c0;
  color: black;
  border: none;
  cursor: pointer;
}

/*head */
.nav {
  width: 100%;
  height: 100vh;
}
.nav .border {
  border-bottom: 1px solid black;
}
.nav .top {
  width: 80%;
  margin: auto;
  height: 90px;
  display: flex;
}
.nav .top .nav_left {
  flex: 2;
  display: flex;
  gap: 25px;
  align-items: center;
}
.nav .top .nav_left img {
  margin-right: 90px;
}
.nav .top .nav_right {
  flex: 1;
  display: flex;
  gap: 34px;
  align-items: center;
}
.nav .riview {
  width: 100%;
  padding-left: 150px;
  display: flex;
}
.nav .riview .text {
  width: 300px;
  padding-top: 100px;
}
.nav .riview .text h2 {
  font-size: 35px;
}
.nav .riview .text p {
  font-size: 20px;
  margin: 35px 0;
}
.nav .riview .button {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav .riview .image {
  background-color: #41f5c0;
}
/*head end*/

/*check*/

.check {
  width: 60%;
  margin: auto;
  height: 128px;
  text-align: center;
}
.check .k {
  display: flex;
  justify-content: space-evenly;
}
/*check end*/

/*features*/

.features {
  width: 80%;
  margin: auto;
  height: 950px;
  background-color: #fafbff;
  padding-top: 120px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.features .talent_2 {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 30px;
}
.features .talent_2 .find {
  flex: 1;
  padding: 50px;
}
.features .talent_2 .find h1 {
  width: 300px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 42.54px;
  line-height: 51.48px;
}

.features .talent_2 .talent {
  flex: 1;
  height: 160px;
  padding: 50px;
  background-color: #ffff;
  border-bottom: 5px solid #41f5c0;
  border-radius: 10px;
}
.features .talent_2 .talent .img {
  width: 40px;
  height: 40px;
  background-color: #a3f6dd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.features .talent_2 .talent p {
  width: 250px;
}
/*features end*/

/*explore*/
.explore {
  width: 80%;
  margin: auto;
}
.explore .text {
  width: 400px;
  margin: auto;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 60px;
}

.explore .jobs {
  display: flex;
}
.explore .jobs .job {
  height: 300px;
  flex: 1;
  text-align: center;
  padding-top: 89px;
  /* background-color: #41f5c0; */
}
.job.color {
  background-color: #f4f3f4;
}

.starting {
  width: 80%;
  margin: auto;
  height: 83px;
  margin-top: 120px;
  padding-left: 13px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}

/*explore end*/

/*recent*/
.recent {
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: #fafbff;
  margin-top: 150px;
  padding-top: 120px;
}
.recent .check {
  width: 80%;
  margin: auto;
}
.recent .check .text {
  width: 400px;
  margin: auto;
  text-align: center;
}

.recent .check .box {
  display: flex;
  gap: 30px;
}
.recent .check .box .out {
  background-color: #fff;
  flex: 1;
  height: 340px;
  margin-top: 61px;
  border-radius: 20px;
  padding: 35px 42px;
}
.recent .check .box .out .messen {
  margin: 45px 0;
}
.recent .check .box .out .photo {
  width: 59px;
  height: 59px;
  border-radius: 50%;
}
.foote {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.foote_media {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.foote .media {
  display: flex;
  justify-content: end;
  gap: 40px;
  align-items: center;
}
.foote .media img {
  width: 25px;
  height: 25px;
}
.foote .murad {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41f5c0;
  margin-top: 30px;
}
/*recent end*/
